.setup {
  padding-top:10px;
}
.setup .am-list-content{
  color:white !important;
}

.setup .am-icon{
  fill: white;
}

.setup .am-stepper-input{
  color:white;
}

.setup .avatar-img{
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 0.5rem auto;
  border-radius: 50%;
}

.setup .name{
  color: white;
  font-size: 1rem;
  margin:0.5rem auto 1rem auto;
}
