@import '~antd/dist/antd.css';

.header{
  position:fixed;
  height:6vh;
  width:100vw;
  background-color: rgba(200,200,200,0.2);
}

.header .title{
  width:70%;
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-weight: 800;
}

.header .avatar{
  margin: auto;
}

.header .avatar>img{
  width:32px;
  height:32px;
  background-color: white;
  border-radius: 50%;
}

.header .menu{
  width:10%;
  margin: auto;
}

.flex{
  display: flex;
}

.full{
  width:100%;
  height:100%;
}

